@font-face {
    font-family: Alegreya;
    src: url("../fonts/Alegreya-VariableFont_wght.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: Fondamento;
    src: url("../fonts/Fondamento-Regular.ttf");
}

@font-face {
    font-family: "Quintessential";
    src: url("../fonts/Quintessential-Regular.ttf");
}